<div class="card">
    
    <h5 class="text-center" style="padding-top: 29px;">Add Policy</h5>
    <div class="card-body">
        <form [formGroup]="policyForm" (ngSubmit)="onSubmit()">
            <div class="form-group col-12">
                <label>Title</label>

                <input type="text" formControlName="title" class="form-control" [ngClass]="{ 'is-invalid': submitted && f['title'].errors }" />
                <div *ngIf="submitted && f['title'].errors" class="invalid-feedback">
                    <div *ngIf="f['title'].errors?.['required']">Title is required</div>
                </div>
            </div>

            <div class="form-group col-12">
                <label>Description</label>
                <textarea formControlName="description" class="form-control"> </textarea>
            </div>

            <div class="text-center" style="margin-top: 20px;">
                <button class="btn btn-primary mr-1">Submit</button>
                <button class="btn btn-secondary" style="margin-left: 10px;" type="reset" (click)="onReset()">Cancel</button>
            </div>

        </form>
    </div>
</div>